{% extends '_base.html' %}

{% block content %}
    <div class="row">
        <form>
            {{ form_html|safe }}
        </form>
    </div>

    <script>
        var connection = new WebSocket('ws://' + window.location.host + '/ws/settings');

        connection.onmessage = function(e) {
            console.log('Received: ' + e.data);

            var received_json = JSON.parse(e.data);

            if (received_json.status == 200) {
                // TODO: element id comes from Widget.get_html_id. May pass prefix via template.
                var input_field = document.getElementById('id_' + received_json.fqid);
                input_field.value = received_json.value;
            }
        };

        function setValueWithFqid(fqid, value) {
            connection.send('{"cmd": "set", "fqid": "' + fqid + '", "value": "' + value + '"}');
        }

        // Add onfocus event listener to input fields.
        document.addEventListener("DOMContentLoaded", function(event) {
            // TODO: add showSaveCancelButtons as onfocus Event to input (select, textarea) fields.
            let input_elements = document.getElementsByTagName('input');

            for (let i=0; i<input_elements.length; i++) {
                // onfocus event
                input_elements[i].addEventListener('focus', function(event) {
                    showSaveCancelButtons(event.target.parentElement);
                });
            }
        });

        function showSaveCancelButtons(parent) {
            hideSaveCancelButtons(parent);

            let surrounding_div = document.createElement('div');
            surrounding_div.classList.add('prefix');

            // Generate cancel link
            let cancel_link = document.createElement('i');
            cancel_link.classList.add('material-icons');
            cancel_link.appendChild(document.createTextNode('cancel'));
            cancel_link.setAttribute('name', 'cancel');
            cancel_link.addEventListener('click', function(event) {
                cancelOnClick(parent);
            });
            surrounding_div.appendChild(cancel_link);

            // Generate save link
            let save_link = document.createElement('i');
            save_link.classList.add('material-icons');
            save_link.appendChild(document.createTextNode('check'));
            save_link.setAttribute('name', 'save');
            save_link.addEventListener('click', function(event) {
                saveOnClick(parent);
            });
            surrounding_div.appendChild(save_link);

            parent.appendChild(surrounding_div);
        }

        function hideSaveCancelButtons(parent) {
            // Remove all links (a tags) from parent.
            let link_elements = parent.getElementsByTagName('i');

            for (let i=link_elements.length-1; i>=0; i--) {
                parent.removeChild(link_elements[i]);
            }
        }

        function saveOnClick(parent) {
            // Get the input element.
            let element = parent.getElementsByTagName('input')[0];

            // Read fqid and value.
            let fqid = element.getAttribute('id').replace('id_', '');
            let value = element.value;

            // Send fqid and value via websocket and remove buttons.
            setValueWithFqid(fqid, value);
            hideSaveCancelButtons(parent);
        }

        function cancelOnClick(parent) {
            // Hide the buttons.
            hideSaveCancelButtons(parent);
        }
    </script>
{% endblock content %}
