{% extends '_base.html' %}

{% block content %}
    <div class="row">
        <form>
            {{ form_html|safe }}
        </form>
    </div>

    <script>
        var connection = new WebSocket('ws://' + window.location.host + '/ws/settings');

        connection.onmessage = function(e) {
            console.log('Received: ' + e.data);

            var received_json = JSON.parse(e.data);

            if (received_json.status == 200) {
                // TODO: element id comes from Widget.get_html_id. May pass prefix via template.
                var input_field = document.getElementById(received_json.fqid);
                input_field.value = received_json.value;

                // Add or remove css class for label.
                var label_field = document.querySelector(`label[for="${received_json.fqid}"]`);
                if (input_field.value === "" && label_field.classList.contains('active')) {
                    label_field.classList.remove('active');
                } else if (input_field.value !== "" && !label_field.classList.contains('active')) {
                    label_field.classList.add('active');
                }
            }
        };

        function setValueWithFqid(fqid, value) {
            connection.send('{"cmd": "set", "fqid": "' + fqid + '", "value": "' + value + '"}');
        }

        // Add onfocus event listener to input fields.
        document.addEventListener("DOMContentLoaded", function(event) {
            // TODO: add showSaveCancelButtons as onfocus Event to input (select, textarea) fields.
            let input_elements = document.getElementsByTagName('input');

            for (let i=0; i<input_elements.length; i++) {
                // onfocus event
                input_elements[i].addEventListener('focus', function(event) {
                    showSaveCancelButtons(event.target.parentElement);
                });
            }
        });

        function showSaveCancelButtons(parent) {
            hideSaveCancelButtons(parent);

            let surrounding_div = document.createElement('div');
            surrounding_div.setAttribute('name', 'edit_actions');

            // Generate cancel link
            let cancel_link = document.createElement('i');
            cancel_link.classList.add('material-icons');
            cancel_link.appendChild(document.createTextNode('cancel'));
            cancel_link.setAttribute('name', 'cancel');
            cancel_link.style.cursor = 'context-menu';
            cancel_link.addEventListener('click', function(event) {
                cancelOnClick(parent);
            });
            surrounding_div.appendChild(cancel_link);

            // Generate save link
            let save_link = document.createElement('i');
            save_link.classList.add('material-icons');
            save_link.appendChild(document.createTextNode('check'));
            save_link.setAttribute('name', 'save');
            save_link.style.cursor = 'context-menu';
            save_link.addEventListener('click', function(event) {
                saveOnClick(parent);
            });
            surrounding_div.appendChild(save_link);

            parent.appendChild(surrounding_div);
        }

        function hideSaveCancelButtons(parent) {
            var edit_actions_div = parent.querySelector('[name="edit_actions"]');

            if (edit_actions_div !== null) {
                edit_actions_div.remove();
            }
        }

        function saveOnClick(parent) {
            // Get the input element.
            let input_element = parent.getElementsByTagName('input')[0];

            // Read fqid and value.
            let fqid = input_element.getAttribute('id').replace('id_', '');
            let value = input_element.value;

            // Send fqid and value via websocket and remove buttons.
            setValueWithFqid(fqid, value);
            hideSaveCancelButtons(parent);
        }

        function cancelOnClick(parent) {
            // Hide the buttons.
            hideSaveCancelButtons(parent);
        }
    </script>
{% endblock content %}
